.contextual-links-region {
    position: relative;
}
.contextual-links-wrapper {
    position: absolute;
    top: 2px;
    right: 17px;
    left: auto;
    z-index: 999;
    .dropdown-menu {
        right: 0;
        left: auto;
    }
}
